@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotasModel
@{
    
}
<h2>Agregar o editar Mascotas</h2>
   <div class="contenedor-re">
    <section class="form-register">
        <h3 class="titulo">Registro Mascota</h3>
        <div class="img-re">
            <img src="~/ImagenesWeb/icono.png" alt=""  >
         </div>
<form method="post" >
    <div class="form-group">
        <input type="hidden" asp-for = "mascota.Id" />
        <label asp-for="mascota.Nombre"></label>
        <input asp-for="mascota.Nombre" class="form-control">
        <label asp-for="mascota.Color"></label>
        <input asp-for="mascota.Color" class="form-control">
        <label asp-for="mascota.Raza"></label>
        <input asp-for="mascota.Raza" class="form-control">
        <label asp-for="mascota.Especie"></label>
        <input asp-for="mascota.Especie" class="form-control">
        <br>
        <label for="dueno">Dueño</label>
        <br>
        <select id="dueno" asp-for="mascota.Dueno.Id" name = "duenoId">
            <option value="0">Seleccione un Dueño</option>
            @foreach (var dueno in Model.listaDuenos)
            {
                <option value="@dueno.Id"> @dueno.Nombres @dueno.Apellidos</option>
            }
        </select>
        <br>
        <br>
        <label for="veterinario">Veterinario</label>
        <br>
        <select id="veterinario" asp-for="mascota.Veterinario.Id" name = "veterinarioId">
            <option value="0">Seleccione un Veterinario</option>
            @foreach (var veterinario in Model.listaVeterinarios)
            {
                <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
            }
        </select>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./ListaMascotas" class="btn">Lista de Mascotas </a>
    </div>
</form>

